.CVheader {
  background-color: var(--cvheader-background-color);
  padding: 50px;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.CVheader h1 {
  margin-bottom: 10px;
}

.CVheader h2 {
  font-size: clamp(1.1rem, 0.5vw + 0.8rem, 1.4rem);
}

.CVheader-info {
  justify-content: center;
}

.CVheader-info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
