.EduShowDiv {
  padding: 50px;
}

.EduShow {
  gap: 20px;
}

.EduShowHeader {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--cvheader-background-color);
  color: var(--main-color);
  margin-bottom: 20px;
}
