.liveCV {
  max-width: 1500px;
  flex: 2;
  padding: 20px;
  border: 1px solid var(--line-break-color);
  border-radius: 10px;
}

.ShowDiv {
  padding: 50px 50px 0 50px;
}

.ShowHeader {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--cvheader-background-color);
  color: var(--main-color);
  margin-bottom: 20px;
}

.Show {
  gap: 20px;
}
