.addressSuggestions {
  background: var(--section-background-color);
  position: absolute;
  width: 100%;
  z-index: 10;
  list-style: none;
  top: calc(100% - 20px);
  border-radius: 10px;
}

.addressSuggestions li {
  padding: 10px;
}

.addressSuggestions li:hover {
  background: var(--input-background-color);
}
