.NewEntryForm {
  background-color: black;
  padding: 20px 10px;
  border-radius: 5px;
  gap: 20px;
}

.titleDiv {
  gap: 10px;
}

.datePickerGroup {
  gap: 10px;
}

.MuiFormControl-root {
  flex: 1;
}

.MuiFormControl-root > div {
  width: 100%;
}

.newEntryFormBtnDiv {
  justify-content: space-between;
  border-top: 1px solid var(--line-break-color);
  padding-top: 20px;
}

.newEntryFormBtnDiv-right {
  gap: 10px;
}
